*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 65px;
    padding-left: 100px;
    margin-top: 0;
    padding-bottom: 20px;
    background-color: transparent;
     
}
.preview-image{
    width: 100%;
    margin-bottom: 20px;

}
.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: white;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    margin-top: 10px;
    z-index: 100;
    margin-top: 60px;
    gap: 20px;

}
.btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.youtube-logo{
    width: 300px;
    height: 50px;
    cursor: pointer;
    padding-left: 20px;
    font-size: 20px;
}
.menu-bar{
    font-size: 20px;
    cursor: pointer;
    font-weight: 100;
    
    
}
.first-section{
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.search-logo{
    width: 70px;
    height: 40px;
    font-size: 20px;
    background: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    cursor: pointer;
    margin-right: 10px;
    
}
.micro-logo{
    width: 40px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background: rgb(240, 240, 240);
}
.input-bar{
    flex: 1;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px rgb(0, 0,0.9);
    width: 0;
}
.input-bar::placeholder{
    font-size: 16px;
    font-family: Roboto, Arial;
}
.second-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.header-image img{
    width: 60%;
    border-radius: 16px;
}
.video-camera,
.film,
.bell{
    font-size: 20px;
}
.three{
    position: absolute;
    top: -2px;
    right: -5px;
    background: rgba(200, 0, 0);
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}
.notification{
    position: relative;
}
.third-section{
    width: 300px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.links{
    font-size: 1rem;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.links .fa{
    margin: 6px;
}
.links div{
    font-family: Roboto, Arial;
    font-size: 12px;
    display: flex;
}
.links:hover{
    background-color: lightgrey;
}
.side-bar{
    position: fixed;
    align-items: center;

    left: 0;
    bottom: 0;
    top: 60px;
    width: 72px;
    z-index: 100;
    background-color: white;

}



.container{
    width: 300px;
    display: inline-block;
    flex-wrap: wrap;
     position: relative;
    margin-right: 15px;
    margin-top: 80px;
 }
 .time{
    position: absolute;
    background: black;
    color: white;
    right: 0;
    font: 12px;
    font-family: Roboto, Arial;
    font-weight: 400;
    bottom: 125px;
    margin-right: 10px;
    padding: 2px 3px 2px 2px;
 }
.video-info-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 1fr;
    margin-bottom: 20px;
}
.profile-picture{
    width: 50px;
    border-radius: 40px;
} 
.preview-tittle{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto, Arial;
    text-transform: capitalize;
}
.preview-author,
.preview-view{
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-family: Roboto,Arial;
    color: rgb(96 ,96, 96);
}


/* media screen */
@media screen and (max-width: 600px) {
    .container{
        width: 250px;
        display: inline-block;
        flex-wrap: wrap;
         position: relative;
        margin-right: 15px;
        margin-top: 20px;
     }
     .youtube-logo{
        width: 200px;
        height: 45px;
        cursor: pointer;
        padding-left: 20px;
        font-size: 20px;
    }
    .menu-bar{
        font-size: 18px;
        cursor: pointer;
        font-weight: 100;
    }
        
     .header{
        height: 60px;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
        background-color: white;
    }
    .button-container{
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 20px;
        display: none;
    }
    .video-camera,
.film{
    font-size: 20px;
    display: none;
}
.input-bar{
    flex: 1;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px rgb(0, 0,0.9);
    width: 0;
    display: none;
}
.search-logo{
    width: 60px;
    height: 30px;
    font-size: 15px;
    background: white;
    /* border: 1px solid rgb(192, 192, 192); */
    margin-left: -1px;
    border: none;
    cursor: pointer;
    /* margin-right: 50px; */
    
}
.micro-logo{
    width: 40px;
    height: 40px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    background: rgb(240, 240, 240);
}
.side-bar{
    position: fixed;
    align-items: center;

    left: 0;
    bottom: 0;
    top: 60px;
    width: 72px;
    z-index: 100;
    background-color: white;
    /* display: none; */

}


}